__pycache__/
*.py[cod]
*.egg-info/
.DS_Store
results/figures/
venv/
oryx-build-commands.txt
notebooks/reviewer_walkthrough_eval_dchansew.ipynb
external/checkpoints/zenodo_paper_repro.tar.gz
notebooks/reviewer_walkthrough.html
notebooks/reviewer_walkthrough.pdf
notebooks/reviewer_walkthrough_eval.ipynb
